@model NewStoryPageViewModel

@{
    ViewData["Title"] = "New Story";
}

<div class="px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

    <h1 class="display-5 fw-bold mb-5">New story</h1>

    <div class="col-lg-8 mx-auto">
        <partial name="Partials/_StoryFormPartialView.cshtml" model="Model.FormModel" />
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
}