@model RegisterPageViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="col-9 mx-auto px-4 pb-5">
    <div class="form-signin">
        <partial name="Partials/_RegisterFormPartialView.cshtml" model="Model.FormModel" />
    </div>
</div>